[submodule "tulip"]
	path = tulip
	url = https://github.com/CzechCyberTeam/tulip
[submodule "DestructiveFarm"]
	path = DestructiveFarm
	url = https://github.com/CzechCyberTeam/DestructiveFarm
[submodule "pcap-broker/pcap-broker"]
	path = pcap-broker/pcap-broker
	url = https://github.com/fox-it/pcap-broker
